.flexContainer {
  display: flex;
  flex-direction: column;
}

.flexContainer a:hover,
.flexContainer a:focus,
.flexContainer a:active {
  text-decoration: underline;
}

.flexContainer span:hover,
.flexContainer span:focus,
.flexContainer span:active {
  text-decoration: underline;
}